#black2{
    background-color: black;
    width: 152px;
    height: 549px;
    margin: 10px;
}

#red2{
    background-color: red;
    height: 148px;
    width: 148px;
    margin: 0;            
    border-radius: 50%;
    margin: 1px;
}

#yellow2{
    background-color: yellow;
    height: 148px;
    width: 148px;
    margin: 0;            
    border-radius: 50%;
    margin: 1px;
}

#green2{
    background-color: green;
    height: 148px;
    width: 148px;
    margin: 0;            
    border-radius: 50%;
    margin: 1px;
}}}}